* {
	box-sizing: border-box;
}
header, footer {
	border: 1px solid gray;
	height: 100px;
}
div {
	display: flex;
}
aside {
	border: 1px solid gray;
	height: 400px;
	display: flex;
	width: 20%;
}
article {
	border: 1px solid gray;
	height: 400px;
	flex: none;
	width: 40%;
}
section {
	border: 1px solid gray;
	height: 400px;
	flex: 1;
}
sidebar {
	border: 1px solid gray;
	height: 400px;
	flex: 1;
}